<div class="jumbotron">
    <h1>GrowBot API</h1>
    <p class="lead">
        The GrowBot is a project that begun life as a practical way in which the author could develope their C# implimentation and design
        principals skills. While also creating a FREE and useful product to contribute to the science of horticulture.
    </p>
    <p>
        <a href="http://www.mrdevine.co.uk" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <h2>GrowBot - About Us</h2>
        <p>
            The aim of growbot is to allow hobbiest horticulturists, to advanced horticulturists or even industrial horticulturists. To be have the ability
            to control their horticultral enviroment using the automated GrowBot device. This means that the equipment that is currently used to control the
            enviroment, will now be controlled by the GrowBot automation device. So now GrowBot can adjust the way the enviromental equipment operates
            on the fly and in turn, this will make sure all enviromental factors are kept at optimal contditions for the plants..
        </p>
        <p>
            Your probaly thinking that you can all ready do this will simple devices attached to each bit of equipment. Why do i need an automated GrowBot
            device? Well we can answer that very simply. Is it easy to maintain all these devices or to adjust your enviroment. Do you have to go and adjust
            each one of the devices individually? Also if one breaks how do you know? You dont... Not until its to late. Also how can you check the condition
            of the enviroment when your not their and adjust it acordingly. Or how do you keep a record of how well your plants did under ceartin envirmental
            condtions. Put simply times have changed and growing plants like this is outdated and unproductive. TIME TO OPTIMISE!
        </p>
        <p>
            GrowBot can simply address all these problems and more! and best of all, its FREE. Ok, now your wondering how it can address
            these problem's. Simply put GrowBot is a small device you plug all your enviromental equipment into. GrowBot then manages these devices to maintain
            an optimal growing enviroment using the setting you give it. It will turn the lights on and off, water your plants, adjust the temprature of the
            enviroment and much more. Best of all it has the ability to feed all this information and other important envirmental data back to your computer or
            the cloud. This means you can check on your horticultral enviroment anywere you have an internet access.
        </p>
        <p>
            It dosent stop their, worried the plants arnt doing so well but your to far away to do anything about it. Well simply change the setting on of the
            GrowBot device using the website. The GrowBot device will then pick up the new setting and instantly adjust the enviroment accordingly.
        </p>
        <p>
            This is just the tip of the iceberg. Find out more by clicking the 'Learn More' Button below and go to are main website.
        </p>
        <p>
            Intrested more about the workings and the GrowBot API or just want to get involved in the development then read on!
        </p>
        <p>
            <a class="btn btn-default" href="http://www.TheGrowBot.com">Learn more &raquo;</a>
        </p>
    </div>
</div>